* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #f6f6f6;
}

header,
footer {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

header {
  position: sticky;
  top: 0;
}
.icon {
  height: 40px;
  width: 40px;
}

.frame1-cate-item:hover {
  transform: scale(1.03);
  transition: transform 0.2s linear;
}

.container-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home a {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 167.425px;
}

.home img {
  height: 37.6px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
}

.sign-in {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
}

.sign-up {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #ffb700;
  text-decoration: none;
  margin-left: 5px;
}

.act button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.act button a {
  font-weight: bold;
}

.act button a:hover {
  color: black;
}

.footer-social-icon {
  border-radius: 10px;
  width: 40px;
}

.footer-social-icon:hover {
  position: relative;
  bottom: 5px;
}

@media (max-width: 550px) {
  /* header */

  .container-header {
    padding: 0 30px;
  }

  /* main */

  .container-main {
    padding: 40px 30px;
  }

  /* banner */

  .banner img {
    border-radius: 20px;
    width: 100%;
  }

  /* frame1 */

  .frame1-name {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }

  .frame1-col {
    background-color: #eee;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
  }

  .frame1-cate-item {
    display: flex;
    align-items: center;
  }

  .frame1-img {
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
  }

  .frame1-cate-item-title {
    padding-bottom: 15px;
  }

  .frame1-product-card-row {
    display: flex;
    align-items: center;
  }

  .frame1-product-card-price {
    padding-right: 20px;
  }

  .frame1-product-card-star {
    position: relative;
    bottom: 1px;
    width: 18px;
  }

  /* footer */

  .container-footer {
    margin: 40px 30px;
  }

  .footer-col {
    padding-top: 30px;
  }

  .footer-label {
    padding-top: 20px;
  }

  .footer-text {
    padding-top: 10px;
  }

  .footer-list2 {
    padding-top: 10px;
  }

  .footer-social {
    display: flex;
    align-items: center;
  }

  .footer-social-icon {
    margin-right: 20px;
  }
}
@media (min-width: 550px) and (max-width: 750px) {
  /* header */

  .container-header {
    width: 490px;
    margin: 0 auto;
  }

  /* main */

  .container-main {
    padding: 60px 0;
    width: 490px;
    margin: 0 auto;
  }

  /* banner */

  .banner img {
    border-radius: 30px;
    width: 490px;
  }

  /* frame1 */

  .frame1-name {
    padding-top: 60px;
  }

  .frame1-col {
    background-color: #eee;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
  }

  .frame1-cate-item {
    display: flex;
    align-items: center;
  }

  .frame1-img {
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
  }

  .frame1-cate-item-title {
    padding-bottom: 15px;
  }

  .frame1-product-card-row {
    display: flex;
    align-items: center;
  }

  .frame1-product-card-price {
    padding-right: 20px;
  }

  .frame1-product-card-star {
    position: relative;
    bottom: 1px;
    width: 18px;
  }

  /* footer */

  .container-footer {
    width: 490px;
    margin: 60px auto;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .footer-cs {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  .footer-label {
    padding-top: 20px;
  }

  .footer-text {
    padding-top: 10px;
  }

  .footer-list2 {
    padding-top: 10px;
  }

  .footer-social {
    display: flex;
    align-items: center;
  }

  .footer-social-icon {
    margin-right: 20px;
  }
}
@media (min-width: 750px) and (max-width: 1000px) {
  /* header */

  .container-header {
    width: 690px;
    margin: 0 auto;
  }

  /* main */

  .container-main {
    padding: 60px 0;
    width: 690px;
    margin: 0 auto;
  }

  /* banner */

  .banner img {
    border-radius: 30px;
    width: 690px;
  }

  /* frame1 */

  .frame1-name {
    padding-top: 60px;
  }

  .frame1-item {
    display: grid;
    grid-template-columns: 210px 210px 210px;
    column-gap: 30px;
    margin-top: 20px;
  }

  .frame1-col {
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
  }

  .frame1-img {
    width: 170px;
    border-radius: 10px;
  }

  .frame1-cate-item-title {
    padding-top: 15px;
  }

  .frame1-product-card-row {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    padding-top: 15px;
  }

  .frame1-product-card-price {
    position: absolute;
    left: 0;
  }

  .frame1-product-card-star {
    position: relative;
    bottom: 1px;
    width: 18px;
  }

  /* footer */

  .container-footer {
    width: 690px;
    margin: 60px auto;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
  }

  .footer-cs {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  .footer-label {
    padding-top: 20px;
  }

  .footer-text {
    padding-top: 10px;
  }

  .footer-list2 {
    padding-top: 10px;
  }

  .footer-social {
    display: flex;
    align-items: center;
  }

  .footer-social-icon {
    margin-right: 20px;
  }
}
@media (min-width: 1000px) and (max-width: 1250px) {
  /* header */

  .container-header {
    width: 940px;
    margin: 0 auto;
  }

  /* main */

  .container-main {
    padding: 60px 0;
    width: 940px;
    margin: 0 auto;
  }

  /* banner */

  .banner img {
    border-radius: 30px;
    width: 940px;
  }

  /* frame1 */

  .frame1-name {
    padding-top: 60px;
  }

  .frame1-item {
    display: grid;
    grid-template-columns: 293px 293px 293px;
    column-gap: 30.5px;
    margin-top: 20px;
  }

  .frame1-col {
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
  }

  .frame1-cate-img {
    width: 253px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
  }

  .frame1-img {
    width: 170px;
  }

  .frame1-cate-item-title {
    padding-top: 20px;
  }

  .frame1-product-card-row {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    padding-top: 20px;
  }

  .frame1-product-card-price {
    position: absolute;
    left: 0;
  }

  .frame1-product-card-star {
    position: relative;
    bottom: 1px;
    width: 18px;
  }

  /* footer */

  .container-footer {
    width: 940px;
    margin: 60px auto;
  }

  .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-cs {
    width: 59%;
    display: flex;
    justify-content: space-between;
  }

  .footer-label {
    padding-top: 20px;
  }

  .footer-text {
    padding-top: 10px;
  }

  .footer-list2 {
    padding-top: 10px;
  }

  .footer-social {
    display: flex;
    align-items: center;
  }

  .footer-social-icon {
    margin-right: 20px;
  }
}
@media (min-width: 1250px) and (max-width: 1536px) {
  /* header */

  .container-header {
    width: 1250px;
    margin: 0 auto;
  }
  .img-cart {
    height: 50px;
    gap: 10px;
    padding: 13px 20px;
    cursor: pointer;
    border: none;

    background-color: white;
    display: flex;
    align-items: center;
    /* background-color: #ffb700; */
  }
  .img-cart:hover {
    opacity: 30%;
  }
  /* main */

  .container-main {
    padding: 60px 0;
    width: 1250px;
    margin: 0 auto;
  }

  /* frame1 */

  .frame1-name {
    padding-top: 60px;
  }

  .frame1-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .frame1-col {
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
  }

  .frame1-cate-item {
    display: flex;
    align-items: center;
  }

  .frame1-img {
    width: 150px;
    border-radius: 10px;
    margin-right: 20px;
  }

  .frame1-product-card-row {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding-top: 20px;
  }

  .frame1-product-card-price {
    padding-right: 20px;
  }

  .frame1-product-card-star {
    position: relative;
    bottom: 1px;
    width: 18px;
  }

  /* footer */

  .container-footer {
    width: 1250px;
    margin: 60px auto;
  }

  .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-cs {
    width: 57%;
    display: flex;
    justify-content: space-between;
  }

  .footer-label {
    padding-top: 20px;
  }

  .footer-text {
    padding-top: 10px;
  }

  .footer-list2 {
    padding-top: 10px;
  }

  .footer-social {
    display: flex;
    align-items: center;
  }

  .footer-social-icon {
    margin-right: 20px;
  }
}
