*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: #f6f6f6;
}

header,
footer{
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #fe6f47;
}

header{
    position: sticky;
    top: 0;
}

.header-container{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home {
    /* width: 167.425px; */
    position: absolute;
    left: 0;
}

.home img{
    position: relative;
    top: 2px;
    height: 33.6px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 75px;
}

.act{
    position: absolute;
    right: 0;
}

.button-act{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
}

.sign-in{
    background-color: white;
}

.sign-up{
    background-color: #ffb700;
    margin-left: 5px;
}

.act button:hover{
    cursor: pointer;
    opacity: 0.5;
}

.act button a{
    font-weight: bold;
}

.act button a:hover{
    color: black;
}

.frame1-product-info:hover,
.frame2-product-info:hover,
.frame3-product-info:hover{
    transform: scale(1.03);
    transition: transform 0.2s linear;
}

.footer-social-icon{
    border-radius: 10px;
    width: 40px;
}

.footer-social-icon:hover{
    position: relative;
    bottom: 5px;
}

@media (max-width: 550px){
    /* header */

    .header-container{
        padding: 0 30px;
    }

    .home{  
        display: none;
    }

    .logo{
        position: absolute;
        left: 30px;
    }

    .logo2{
        display: none;
    }

    .logo img{
        height: 56px;
        position: relative;
        top: 2px;
    }

    .act{
        position: absolute;
        right: 30px;
    }

    /* main */

    .main-container{
        padding: 40px 30px;
    }

    /* banner */

    .banner img{
        border-radius: 20px;
        width: 100%;
    }

    /* frame1 */

    .frame1-name{
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }

    .frame1-product{
        background-color: #eee;
        margin-top: 20px;
        padding: 20px;
        border-radius: 20px;
    }

    .frame1-product-info{
        display: flex;
        align-items: center;
    }

    .frame1-img{
        width: 100px;
        border-radius: 10px;
    }

    .frame1-product-content{
        margin-left: 20px;
    }

    .frame1-product-title{
        padding-bottom: 15px;
    }

    .frame1-product-card-row{
        display: flex;
        align-items: center;
    }

    .frame1-product-card-price{
        padding-right: 20px;
    }

    .frame1-product-card-star{
        position: relative;
        bottom: 1px;
        width: 18px;
    }

    /* frame2 + frame3*/

    .frame2-name,
    .frame3-name{
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }

    .frame2-product,
    .frame3-product{
        margin: 20px 50px;
    }
        
    .frame2-product-info,
    .frame3-product-info{
        background-color: #eee;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
    }

    .frame2-img,
    .frame3-img{
        border-radius: 30px 30px 0 0;
    }

    .frame2-product-content,
    .frame3-product-content{
        padding: 0 20px;
    }

    .frame2-product-title,
    .frame3-product-title{
        padding-top: 20px;
    }

    .frame2-product-node,
    .frame3-product-node{
        padding-top: 20px;
    }

    .frame2-product-card-row,
    .frame3-product-card-row{
        position: relative;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .frame2-product-card-price,
    .frame3-product-card-price{
        position: absolute;
        left: 0;
    }

    .frame2-product-card-star,
    .frame3-product-card-star{
        position: relative;
        bottom: 1px;
        width: 18px;
    }

    /* footer */

    .footer-container{
        margin: 40px 30px;
    }

    .footer-col{
        padding-top: 30px;
    }

    .footer-label{
        padding-top: 20px;
    }

    .footer-text{
        padding-top: 10px;
    }
        
    .footer-social{
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .footer-social-icon{
        margin-right: 20px;
    }
}
@media (min-width: 550px) and (max-width: 750px){
    /* header */

    .header-container{
        width: 490px;
        margin: 0 auto;
    }

    .logo1{
        display: none;
    }

    /* main */

    .main-container{
        padding: 60px 0;
        width: 490px;
        margin: 0 auto;
    }

    /* banner */

    .banner img{
        border-radius: 30px;
        width: 490px;
    }

    /* frame1 */

    .frame1-name{
        padding-top: 60px;
    }

    .frame1-product{
        background-color: #eee;
        margin-top: 20px;
        padding: 20px;
        border-radius: 20px;
    }

    .frame1-product-info{
        display: flex;
        align-items: center;
    }

    .frame1-img{
        width: 100px;
        border-radius: 10px;
    }

    .frame1-product-content{
        margin-left: 20px;
    }

    .frame1-product-title{
        padding-bottom: 15px;
    }

    .frame1-product-card-row{
        display: flex;
        align-items: center;
    }

    .frame1-product-card-price{
        padding-right: 20px;
    }

    .frame1-product-card-star{
        position: relative;
        bottom: 1px;
        width: 18px;
    }

    /* frame2 + frame3*/

    .frame2-name,
    .frame3-name{
        padding-top: 60px;
    }

    .frame2-products,
    .frame3-products{
        display: grid;
        grid-template-columns: 230px 230px;
        column-gap: 30px;
        row-gap: 30px;
        padding-top: 20px;
    }

    .frame2-product,
    .frame3-product{
        width: 230px;
    }
        
    .frame2-product-info,
    .frame3-product-info{
        background-color: #eee;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }

    .frame2-img,
    .frame3-img{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .frame2-product-content,
    .frame3-product-content{
        padding: 0 20px;
    }

    .frame2-product-title,
    .frame3-product-title{
        padding-top: 20px;
    }

    .frame2-product-node,
    .frame3-product-node{
        padding-top: 20px;
    }

    .frame2-product-card-row,
    .frame3-product-card-row{
        position: relative;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .frame2-product-card-price,
    .frame3-product-card-price{
        position: absolute;
        left: 0;
    }

    .frame2-product-card-star,
    .frame3-product-card-star{
        position: relative;
        bottom: 1px;
        width: 18px;
    }

    /* footer */

    .footer-container{
        width: 490px;
        margin: 60px auto;
    }

    .footer-logo{
        display: flex;
        justify-content: center;
    }

    .footer-c_sm{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    .footer-label{
        padding-top: 20px;
    }

    .footer-text{
        padding-top: 10px;
    }
        
    .footer-social{
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .footer-social-icon{
        margin-right: 20px;
    }
}
@media (min-width: 750px) and (max-width: 1000px){
    /* header */

    .header-container{
        width: 690px;
        margin: 0 auto;
    }

    .logo1{
        display: none;
    }

    /* main */

    .main-container{
        padding: 60px 0;
        width: 690px;
        margin: 0 auto;
    }

    /* banner */

    .banner img{
        border-radius: 30px;
        width: 690px;
    }

    /* frame1 */

    .frame1-name{
        padding-top: 60px;
    }

    .frame1-products{
        display: grid;
        grid-template-columns: 210px 210px 210px;
        column-gap: 30px;
        margin-top: 20px;
    }

    .frame1-product{
        background-color: #eee;
        padding: 20px;
        border-radius: 20px;
    }

    .frame1-img{
        width: 170px;
        border-radius: 10px;
    }

    .frame1-product-title{
        padding-top: 15px;
    }

    .frame1-product-card-row{
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        padding-top: 15px;
    }

    .frame1-product-card-price{
        position: absolute;
        left: 0;
    }

    .frame1-product-card-star{
        position: relative;
        bottom: 1px;
        width: 18px;
    }

    /* frame2 + frame3*/

    .frame2-name,
    .frame3-name{
        padding-top: 60px;
    }

    .frame2-products,
    .frame3-products{
        display: grid;
        grid-template-columns: 330px 330px;
        column-gap: 30px;
        row-gap: 30px;
        padding-top: 20px;
    }

    .frame2-product,
    .frame3-product{
        width: 330px;
    }
        
    .frame2-product-info,
    .frame3-product-info{
        background-color: #eee;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }

    .frame2-img,
    .frame3-img{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .frame2-product-content,
    .frame3-product-content{
        padding: 0 20px;
    }

    .frame2-product-title,
    .frame3-product-title{
        padding-top: 20px;
    }

    .frame2-product-node,
    .frame3-product-node{
        padding-top: 20px;
    }

    .frame2-product-card-row,
    .frame3-product-card-row{
        position: relative;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .frame2-product-card-price,
    .frame3-product-card-price{
        position: absolute;
        left: 0;
    }

    .frame2-product-card-star,
    .frame3-product-card-star{
        position: relative;
        bottom: 1px;
        width: 18px;
    }

    /* footer */

    .footer-container{
        width: 690px;
        margin: 60px auto;
    }

    .footer-logo{
        display: flex;
        justify-content: center;
    }

    .footer-c_sm{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    .footer-label{
        padding-top: 20px;
    }

    .footer-text{
        padding-top: 10px;
    }
        
    .footer-social{
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .footer-social-icon{
        margin-right: 20px;
    }
}
@media (min-width: 1000px) and (max-width: 1250px){
    /* header */

    .header-container{
        width: 940px;
        margin: 0 auto;
    }

    .logo1{
        display: none;
    }

    /* main */

    .main-container{
        padding: 60px 0;
        width: 940px;
        margin: 0 auto;
    }

    /* banner */

    .banner img{
        border-radius: 30px;
        width: 940px;
    }

    /* frame1 */

    .frame1-name{
        padding-top: 60px;
    }

    .frame1-products{
        display: grid;
        grid-template-columns: 293px 293px 293px;
        column-gap: 30.5px;
        margin-top: 20px;
    }

    .frame1-product{
        background-color: #eee;
        padding: 20px;
        border-radius: 20px;
    }

    .frame1-product-img{
        width: 253px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: center;
    }
        
    .frame1-img{
        width: 170px;
    }

    .frame1-product-title{
        padding-top: 20px;
    }

    .frame1-product-card-row{
        display: flex;
        align-items: center;
        justify-content: end;
        position: relative;
        padding-top: 20px;
    }

    .frame1-product-card-price{
        position: absolute;
        left: 0;
    }

    .frame1-product-card-star{
        position: relative;
        bottom: 1px;
        width: 18px;
    }

    /* frame2 + frame3*/

    .frame2-name,
    .frame3-name{
        padding-top: 60px;
    }

    .frame2-products,
    .frame3-products{
        display: grid;
        grid-template-columns: 212.5px 212.5px 212.5px 212.5px;
        column-gap: 30px;
        row-gap: 30px;
        padding-top: 20px;
    }

    .frame2-product,
    .frame3-product{
        width: 212.5px;
    }
        
    .frame2-product-info,
    .frame3-product-info{
        background-color: #eee;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }

    .frame2-img,
    .frame3-img{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .frame2-product-content,
    .frame3-product-content{
        padding: 0 20px;
    }

    .frame2-product-title,
    .frame3-product-title{
        padding-top: 20px;
    }

    .frame2-product-node,
    .frame3-product-node{
        padding-top: 20px;
    }

    .frame2-product-card-row,
    .frame3-product-card-row{
        position: relative;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .frame2-product-card-price,
    .frame3-product-card-price{
        position: absolute;
        left: 0;
    }

    .frame2-product-card-star,
    .frame3-product-card-star{
        position: relative;
        bottom: 1px;
        width: 18px;
    }

    /* footer */

    .footer-container{
        width: 940px;
        margin: 60px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-c_sm{
        width: 59%;
        display: flex;
        justify-content: space-between;
    }

    .footer-label{
        padding-top: 20px;
    }

    .footer-text{
        padding-top: 10px;
    }
        
    .footer-social{
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .footer-social-icon{
        margin-right: 20px;
    }
}
@media (min-width: 1250px){
    /* header */

    .header-container{
        width: 1250px;
        margin: 0 auto;
    }

    .logo1{
        display: none;
    }

    /* main */

    .main-container{
        padding: 60px 0;
        width: 1250px;
        margin: 0 auto;
    }

    /* banner */

    .banner img{
        border-radius: 30px;
        width: 1250px;
    }

    /* frame1 */

    .frame1-name{
        padding-top: 60px;
    }

    .frame1-products{
        display: grid;
        grid-template-columns: 396px 396px 396px;
        column-gap: 31px;
        margin-top: 20px;
    }

    .frame1-product{
        background-color: #eee;
        padding: 20px;
        border-radius: 20px;
    }

    .frame1-product-info{
        display: flex;
        align-items: center;
    }
        
    .frame1-img{
        width: 150px;
        border-radius: 10px;
        margin-right: 20px;
    }

    .frame1-product-card-row{
        display: flex;
        align-items: center;
        padding-top: 20px;
    }

    .frame1-product-card-price{
        padding-right: 20px;
    }

    .frame1-product-card-star{
        position: relative;
        bottom: 1px;
        width: 18px;
    }

    /* frame2 + frame3*/

    .frame2-name,
    .frame3-name{
        padding-top: 60px;
    }

    .frame2-products,
    .frame3-products{
        display: grid;
        grid-template-columns: 290px 290px 290px 290px;
        column-gap: 30px;
        row-gap: 30px;
        padding-top: 20px;
    }

    .frame2-product,
    .frame3-product{
        width: 290px;
    }
        
    .frame2-product-info,
    .frame3-product-info{
        background-color: #eee;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }

    .frame2-img,
    .frame3-img{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .frame2-product-content,
    .frame3-product-content{
        padding: 0 20px;
    }

    .frame2-product-title,
    .frame3-product-title{
        padding-top: 20px;
    }

    .frame2-product-node,
    .frame3-product-node{
        padding-top: 20px;
        font-size: 0.96rem;
    }

    .frame2-product-card-row,
    .frame3-product-card-row{
        position: relative;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .frame2-product-card-price,
    .frame3-product-card-price{
        position: absolute;
        left: 0;
    }

    .frame2-product-card-star,
    .frame3-product-card-star{
        position: relative;
        bottom: 1px;
        width: 18px;
    }

    /* footer */


    .footer-container{
        width: 1250px;
        margin: 60px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-c_sm{
        width: 57%;
        display: flex;
        justify-content: space-between;
    }

    .footer-label{
        padding-top: 20px;
    }

    .footer-text{
        padding-top: 10px;
    }
        
    .footer-social{
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .footer-social-icon{
        margin-right: 20px;
    }
}